
<script>

function view(id){
window.open('/kyphpfrm2.0/example/exam_url/html/index/view/id/'+id);
}
</script>
</head>

1<body>
<h1>故障频发拷问中国地铁安全 高速发展存隐忧</h1>
<p class="first">扶梯故障、线路失电、方向开错、车门无法打开……近期，京、沪、穗等城市曝出地铁故障多发，引起社会关注。对于这一每天运输数十万乃至数百万人的“高密度”交通工具来说，一个小小的疏忽，都可能酿成严重的后果。</p>
<p>“新华视点”记者采访发现，国内一些城市轨道交通存在运能“超负荷”、人才短缺、技术“摊薄”等诸多问题。眼下不少地方“大建地铁”，从安全运营的角度看，填补技术、管理、人才等各种“软肋”迫在眉睫。</p>
<p><b>故障频发拷问“地铁安全”</b></p>
<p>进入暑期以来，多个城市地铁故障时有发生。</p>
<p>在北京，7月2日，地铁10号线信号系统出现故障，导致行车间隔加大；4日，地铁4号线安河桥北站至北宫门站隧道一侧电缆脱落，区间轨道停电；5日，北京地铁4号线动物园地铁站发生电梯逆行事故，造成1死30伤；8月3日，地铁13号线一列车一节车厢发生抱闸故障，随后退出正线运行回库检修……</p>
<p>在上海，7月28日，地铁10号线因信号升级调试过程发生故障，使一趟列车开错方向；31日，地铁3号线上海南站至龙漕路区段供电线路失电，该区段列车限速运行；8月4日，地铁2号线因设备故障，发生延误超过半个小时……</p>
<p>在广州，7月18日，地铁5号线三溪站往滘口方向一处道岔出现故障；8月2日，4号线信号设备故障问题……</p>
<p>调查表明，近年来随着越来越多的城市迈入“地铁时代”，轨道交通故障、事故成多发态势，公众对“地铁安全”的关注持续升温。</p>
</body>
</html>
