1
<script>

function view(id){
window.open('/frm/exam_url/html/index/view/id/'+id);
}
</script>
</head>

<body>
<h1>有惊无险“梅花”绕过辽宁在朝鲜西部登陆</h1>
<br />
&nbsp;<img src="http://image1.chinanews.com.cn/cnsupload/big/2011/08-07/4-426/bd467db1ac644ee49f78e8e1eace72bf.jpg" /> <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;8月7日，台风“梅花”抵近山东半岛，海边巨浪涛天。自7日8时起山东海事局启动防抗台风一级应急响应程序，全力防范即将到来的台风“梅花”。中新社发 毕华明 摄 图片来源：CNSPHOTO&nbsp;&nbsp;</p>
<!--图片搜索--><!--正文--><div class="left_zw"><!--放大缩小字体功能--><span id="fontzoom"> <p>　　中新网大连8月8日电 (宋太盛 董永君)第9号强热带风暴“梅花”减弱为热带风暴后，8日上午绕过大连袭向丹东，并于19时再次与丹东擦肩而过。据最新“梅花”路径概率预报图显示，“梅花”已于傍晚前后在朝鲜西部沿海登陆。 <table border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td><!--[4,175,19] published at 2011-08-08 08:39:22 from #202 by 194--><!--大运会--><div id="adhzh" name="hzh">
<table border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</p>
<p>　　大连市区的天气在下午3时左右已见晴朗。傍晚时，有些地方已可以见到阳光透过云层。记者驱车从大连赶往丹东跟随“梅花”行踪的路上，18时左右在城子坦附近遇到降雨强风。到达庄河市地段时，天空云层变薄，丹东方向的云层也渐渐由深灰变浅。</p>
<p>　　据中央气象台8月8日18时发布台风蓝色预警：今年第9号强热带风暴“梅花”于8月8日17时减弱为热带风暴，17时其中心位于朝鲜西部近海海面，就是北纬39.3度、东经124.8度，中心附近最大风力9级(23米/秒)，中心最低气压为980百帕。</p>
<p>　　据辽宁海事局负责人介绍，截至8月8日16时，辽宁海事局共出动防抗台风执法人员756人次，执法车辆346台次，提供船舶助航信息847次，避免海上险情44次，辽宁辖区在港避风船舶1222艘安全无事故。自8月7日早晨至17时，庄河辖区共抢运游客6299人次安全出岛。从8月6日下午起至8月7日中午14时，将滞留在獐岛和大鹿岛的1万多名游客全部安全疏散出岛。</p>
<p>　　该负责人还介绍，该局下属的丹东海事局从8月6日下午起至8月7日中午14时，将滞留在獐岛和大鹿岛的1万多名游客全部安全疏散出岛，船舶营运秩序良好，未发生任何水上事故，并于“梅花”到来之前，在巡视鸭绿江水道时协调“辽丹115”轮救助拖带无动力船舶“珑源6”至码头，将鸭绿江上所有安全隐患船舶清除完毕。(</p>
</span></div>
</body>
</html>
